.advantages {
    padding: 15px 0;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 40px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: 700;
    }

    &-textbox {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & h3 {
            color: #fff;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 35px;
            line-height: 25px;
        }
    }

    &__content {
        &-item {
            border-top: 2px solid #d9d9d9;
            padding-top: 90px;
            padding-bottom: 90px;
            padding-left: 85px;
            padding-right: 85px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;

            &-icon {
                position: absolute;
                top: 0;
                z-index: 1;
                right: 0;
            }

            &-title {
                position: relative;
                text-transform: uppercase;
            }

            &-text {
                color: #fff;
                font-weight: 400;
                font-family: 'Inter';
                font-size: 25px;
                line-height: 40px;
                max-width: 900px;
            }
        }
    }
}

.icon_2 {
    right: -30%;

    &::after {
        content: url('https://raw.githubusercontent.com/M1getsu/OwoFiles/de697a94135c7d3c3ac7650e278f90af97efdad4/advantages_img-2.svg');
        position: absolute;
        top: 30%;
        right: 30%;
        opacity: .2;
    }
}

.icon_3 {
    right: -35%;
    top: 0;

    &::after {
        content: url('https://raw.githubusercontent.com/M1getsu/OwoFiles/de697a94135c7d3c3ac7650e278f90af97efdad4/advantages_img-3.svg');
        position: absolute;
        top: 90%;
        left: -85%;
    }
}

.icon_4 {
    right: -50%;
}

.icon_5 {
    right: -40%;

    &::after {
        content: url('https://raw.githubusercontent.com/M1getsu/OwoFiles/de697a94135c7d3c3ac7650e278f90af97efdad4/advantages_img-5.svg');
        position: absolute;
        top: 85%;
        left: -92%;
    }
}