.advantages {
    padding: 15px 0;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 40px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: 700;
    }

    &-textbox {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & h3 {
            color: #fff;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 35px;
            line-height: 25px;
        }
    }

    &__content {
        &-item {
            border-top: 2px solid #d9d9d9;
            padding-top: 90px;
            padding-bottom: 90px;
            padding-left: 85px;
            padding-right: 85px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;

            &-icon {
                position: absolute;
                top: 0;
                z-index: 1;
                right: 0;
            }

            &-title {
                position: relative;
                text-transform: uppercase;
            }

            &-text {
                color: #fff;
                font-weight: 400;
                font-family: 'Inter';
                font-size: 25px;
                line-height: 40px;
                max-width: 900px;
            }
        }
    }
}

.icon_2 {
    right: -30%;

    &::after {
        content: url('https://3.downloader.disk.yandex.ru/preview/abaec995b41d97ca40c8a273006b3dc0e49c9cade8453d6bf1b92b9680aced4b/inf/oIU-JtSGy4JFZz7R69MDRAHT-IzSoW41wSAdHWj3gdevA38EG2-QF4tHri0EzQosLvLNFRMAETOSGdsQ7hic9g%3D%3D?uid=1455971601&filename=star.webp&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1455971601&tknv=v2&size=1912x920');
        position: absolute;
        top: 30%;
        right: 30%;
        opacity: .2;
    }
}

.icon_3 {
    right: -35%;
    top: 0;

    &::after {
        content: url('https://3.downloader.disk.yandex.ru/preview/1b4c0f7ce04c36009207891d1a2a241ff0a54e03a38d6c7cec623948d0ba3177/inf/htNClO-ndP4ptszayLjB9kayuphZBjjQQLxFNX-LJ3E1b13gCnqhQ8K-FsCMd9NEP6Ty2Somd9Q7PlZPJdGR8Q%3D%3D?uid=1455971601&filename=almost_triangle.webp&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1455971601&tknv=v2&size=1912x920');
        position: absolute;
        top: 90%;
        left: -85%;
    }
}

.icon_4 {
    right: -50%;
}

.icon_5 {
    right: -40%;

    &::after {
        content: url('https://4.downloader.disk.yandex.ru/preview/1218a081c3820047bcac832f4c2d0e536e10d35b9341875e58c658a27c2951f6/inf/1WrUSMCNijXU8fliQ0CyQwHT-IzSoW41wSAdHWj3gddg-LeRNmoO6qVMLE25-PBaTX7Gmj26wvYVI1jCcuHRHw%3D%3D?uid=1455971601&filename=square.webp&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1455971601&tknv=v2&size=1912x920');
        position: absolute;
        top: 85%;
        left: -92%;
    }
}