.swiper-wrapper {
    padding: 40px 0;
}

.swiper {
    padding: 0 100px !important;

    @include media(800) {
        padding: 0 15px !important;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 30px !important;
    color: white;
    font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
    &.swiper-button-disabled {
        display: none;
    }

    @include media(800) {
        display: none !important;
    }
}

.courses {
    padding: 25px 0;

    &__content {

        &-title {
            margin-left: 100px;
            display: flex;
            align-items: center;
            gap: 20px;
            width: max-content;

            @include media(800) {
                margin: 0 auto;
            }

            & span {
                color: white;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0%;
            }
        }

        &-arrow {
            font-size: 23px;
            color: white;
        }

        &-item {
            // max-height: 360px;
            height: 100%;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgb(0, 0, 0);
            overflow: hidden;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;

            &-img {
                position: absolute;
                filter: brightness(30%);
                object-fit: cover;
                // height: max-content;
            }

            &-desc {
                position: relative;
                height: 100%;
                z-index: 100;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 360px;
                // padding: 100px 0;
                // @if hiddenDescr == false {
                //     padding: 165px 0;
                // } 
                // @if hiddenDescr == true {
                //     padding: 140px 0;
                // }
                gap: 10px;
            }

            &-title {
                font-size: 25px;
                color: #fff;
                font-weight: 700;
            }

            &-descr {
                opacity: 0;
                // display: none;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                white-space: break-spaces;
                padding: 0 15px;
                overflow-wrap: anywhere;
            }
        }

        &-item:hover .courses__content-item-descr {
            opacity: 1;
            // display: flex;
            transition: .4s;
        }

        &-item:hover .courses__content-item-img {
            transition: .4s;
            transform: scale(1.1);
            filter: brightness(65%);
        }
    }
}