// .courses {
//     max-width: 1920px;
//     width: 100%;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // height: 30vh;
//     height: 100%;
//     flex-direction: column;
//     overflow: hidden;

//     &__content {
//         display: grid;
//         justify-content: center;
//         grid-template-columns: repeat(4, 1fr);
//         width: 100%;
//         height: 100%;

//         &-item {
//             cursor: pointer;
//             width: 100%;
//             overflow: hidden;
//             transition: all .4s;

//             &_box {
//                 width: 100%;
//                 display: flex;
//                 justify-content: center;
//                 position: relative;

//                 &-img {
//                     aspect-ratio: 475 / 180;
//                     transition: all .4s;
//                     width: 100%;
//                     height: 100%;
//                     // height: 30vh;
//                     z-index: -100;
//                     filter: brightness(35%);
//                 }
//                 &-img img {
//                     object-fit: cover;
//                     width: 100%;
//                     height: 100%;
//                     user-select: none;
//                     overflow-clip-margin: content-box;
//                     overflow: clip;
//                 }
//             }

//             &-desc {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 position: absolute;
//                 margin-left: 0;
//                 margin-right: 0;
//                 // margin-top: 7.0vw;
//                 margin-top: 3.90625vw;
//                 margin-bottom: 0;
//             }

//             &_title {
//                 color: #fff;
//                 text-transform: uppercase;
//                 text-align: center;
//             }

//             &_descr {
//                 padding: 0 20px;
//                 opacity: 0;
//                 color: #fff;
//                 text-align: center;
//                 padding: 0 20px;
//                 margin-left: 0;
//                 margin-right: 0;
//                 // margin-top: calc(-5px + 1vw);
//                 margin-top: calc(-.71429px + .55804vw);
//                 margin-bottom: 0;
//             }
//         }

//         // &-item:hover .courses__content-item-desc {
//         //     margin-top: 6.0vw;
//         // }

//         &-item:hover .courses__content-item_descr {
//             transition: .4s;
//             opacity: 1;
//         }

//         &-item:hover .courses__content-item_box-img {
//             transform: scale(1.1);
//             transition: .4s ease-out;
//             filter: brightness(70%);
//         }
//     }
// }

.swiper-wrapper {
    padding: 40px 0;
}

.swiper {
    padding: 0 100px !important;

    @include media(800) {
        padding: 0 15px !important;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 30px !important;
    color: white;
    font-weight: 700;
}

.swiper-button-prev,
.swiper-button-next {
    &.swiper-button-disabled {
        display: none;
    }

    @include media(800) {
        display: none !important;
    }
}

.courses {
    padding: 25px 0;

    &__content {

        &-title {
            margin-left: 100px;
            display: flex;
            align-items: center;
            gap: 20px;
            width: max-content;

            @include media(800) {
                margin: 0 auto;
            }

            & span {
                color: white;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0%;
            }
        }

        &-arrow {
            font-size: 23px;
            color: white;
        }

        &-item {
            // max-height: 360px;
            height: 100%;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgb(0, 0, 0);
            overflow: hidden;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 700;
            line-height: 1.5;

            &-img {
                position: absolute;
                filter: brightness(30%);
                object-fit: cover;
                // height: max-content;
            }

            &-desc {
                position: relative;
                height: 100%;
                z-index: 100;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 360px;
                // padding: 100px 0;
                // @if hiddenDescr == false {
                //     padding: 165px 0;
                // } 
                // @if hiddenDescr == true {
                //     padding: 140px 0;
                // }
                gap: 10px;
            }

            &-title {
                font-size: 25px;
                color: #fff;
                font-weight: 700;
            }

            &-descr {
                opacity: 0;
                // display: none;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                white-space: break-spaces;
                padding: 0 15px;
                overflow-wrap: anywhere;
            }
        }

        &-item:hover .courses__content-item-descr {
            opacity: 1;
            // display: flex;
            transition: .4s;
        }

        &-item:hover .courses__content-item-img {
            transition: .4s;
            transform: scale(1.1);
            filter: brightness(65%);
        }
    }
}