*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    background: #121212;
    overflow-x: hidden;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// .loading {
//     height: 100vh;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &__spiner {
//         height: 50px;
//         width: 50px;
//         border: 2px solid transparent;
//         border-top: 2px solid green;
//         border-radius: 50%;
//         animation: loading 1s infinite ease-in-out;
//     }
// }

// @keyframes loading {
//     0%{
//         transform: rotate(0);
//     }
//     100%{
//         transform: rotate(360deg);
//     }
// }

@mixin media($size) {
    @media(max-width: #{$size}px) {
        @content
    }
}