$Roboto: ('Regular', 400),
('Bold', 700),
('Medium', 500);

@each $name,
$weight in $Roboto {
    @font-face {
        font-family: 'Roboto';
        src: url('@/assets/fonts/Roboto/Roboto-#{$name}.ttf');
        font-weight: $weight;
    }
}

$Inter: ('Regular', 400),
('SemiBold', 600);

@each $name,
$weight in $Inter {
    @font-face {
        font-family: 'Inter';
        src: url('@/assets/fonts/Inter/Inter-#{$name}.ttf');
        font-weight: $weight;
    }
}